.card-layout {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $white;
  padding: 24px;
  margin: 0 4%;

  .img-card-top {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
}

.border-radius-0 {
  border-radius: 0 !important;
}