@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
}

.pattaya {
  font-family: 'Pattaya', sans-serif;
}

body {
  @extend .roboto;
}

h1 {
  @extend .pattaya;
}

.color{
  &-primary {
    color: $primary !important;
  }
  &-secondary {
    color: $secondary !important;
  }
  &-white {
    color: white !important;
  }
  &-black {
    color: black !important;
  }
}

@mixin fs {
  $i: 8;
  @while $i < 91 {
    .fs-#{$i} {
      font-size: #{$i}px;
    }
    $i: $i + 1;
  }
}

@include fs;