@mixin px {
  $i: 0;
  @while $i < 81 {
    .pad-t-#{$i} {
      padding-top: #{8 * $i}px;
    }
    .pad-b-#{$i} {
      padding-bottom: #{8 * $i}px;
    }
    .pad-l-#{$i} {
      padding-left: #{8 * $i}px;
    }
    .pad-r-#{$i} {
      padding-right: #{8 * $i}px;
    }
    $i: $i + 1;
  }
}

@include px;

@mixin mx {
  $i: 0;
  @while $i < 81 {
    .mar-t-#{$i} {
      margin-top: #{8 * $i}px;
    }
    .mar-b-#{$i} {
      margin-bottom: #{8 * $i}px;
    }
    .mar-l-#{$i} {
      margin-left: #{8 * $i}px;
    }
    .mar-r-#{$i} {
      margin-right: #{8 * $i}px;
    }
    $i: $i + 1;
  }
}

@include mx;