.navbar {
  @extend .back-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 56px;
  width: 100vw;
  padding: 0 !important;
  .btn-navbar {
    @extend .color-primary;
    height: 100%;
    width: 14vw;
    border-radius: 0;
    &-active {
      @extend .back-primary;
      @extend .color-white;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  .profil-picture {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px;
  }
}